.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px 10px 20px;
  z-index: 5;
  background-color: white;

  > a {
    > img {
      height: 50px;
    }

    > svg {
      color: white;
    }
  }
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.icon {
  a {
    color: rgb(178, 85, 163);
  }
  svg {
    margin-left: 15px;
  }
}
