.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px 10px 20px;
  z-index: 5;
  background-color: white;

  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);

  > a {
    > img {
      height: 50px;
    }

    > svg {
      color: white;
    }
  }
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.icon{
  a{

    color: rgb(72, 0, 78);
  }
    svg{
      margin-left: 15px;
    }
  
}
