.footer{
    background-color: rgb(233, 239, 252);
    padding: 20px;
    
    div{
        padding-bottom: 20px;
       
        
        h6{
            padding-bottom: 6px;
            font-size: 15px;
            font-weight: 600;
            color: rgb(198, 8, 182);
        }
        p{
            font-size: 14px;
            font-weight: 600;
            color: rgb(2, 6, 137);
        }
        .copyright{
            text-align: center;
            color: rgba(3, 0, 103, 0.333);
            padding-top: 20px;
        }
        .link{
            display: flex;
            p{
                margin-right: 10px;
            }

        }

        
    }
    
}

