.advertisement{
    background-color: rgba(231, 135, 255, 0.271);
    padding-top: 80px  ;
    text-align: center;
    border-radius: 20px;
   
    p{
        color: rgb(208, 80, 195) !important;
        padding: 10px;
        font-size: 18px;
    }
}